{% extends 'default.html.twig' %}

{% block title %} HealthOne - Medicijnen index{% endblock %}

{% block menu %}
    <li class="nav-item"><a class="nav-link" href="{{ path('homePage') }}">Home</a></li>
    <li class="nav-item active"><a class="nav-link" href="{{ path('medicijn') }}">Medicijnen</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ path('contact') }}">contact</a></li>
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>Naam</th>
            <th>Werking</th>
            <th>Bijwerking</th>
            <th>Prijs</th>
            <th>Verzekerd</th>
            <th>Bewerken</th>
            <th>Verwijderen</th>
        </tr>
        </thead>
        <tbody>
        <h1>Er zijn {{ medicijnen|length }} medicijnen</h1>
        {% for medicijn in medicijnen %}
            <tr>
                <td>{{ medicijn.naam }}</td>
                <td>{{ medicijn.werking }}</td>
                <td>{{ medicijn.bijwerking }}</td>
                <td>{{ medicijn.kosten }}</td>
                <td>{% if medicijn.verzekerd == false %}
                    niet
                {% endif %}
                    verzekerd
                </td>
                <td><a href="{{ path('medicijnUpdate', {'id': medicijn.id}) }}"><span class="fas fa-edit" style="color:#ff0000"/></a></td>
                <td><a href="{{ path('medicijnRemove', {'id': medicijn.id}) }}"><span class="fas fa-trash-alt" style="color:red"/></a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <a href="{{ path('medicijnAdd') }}"><span class="fas fa-plus" style="font-size: 2em;color:red"/></a>
{% endblock %}